<!--<input type="text" [(ngModel)]="message" placeholder="your message...">-->
<!--<h3>Markers</h3>-->
<!--<div *ngFor="let marker of markers | async">-->
  <!--<button (click)="flyTo(marker)">{{ marker.properties.message }}</button>-->
  <!--<button (click)="removeMarker(marker)">Delete</button>-->
<!--</div>-->
<div class="map" id="map">
  <app-navigator></app-navigator>
</div>
