<input id="place-input" class="on-map" type="text" placeholder="Enter a place to go..."
       [(ngModel)]="address" (keyup.enter)="goto()" (mouseup)="clear()">

<button id="goto" class="btn btn-primary" title="Go to Place" (click)="goto()">
  <i class="fa fa-arrow-right fa"></i>
</button>
